@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
          font-family: 'Amiri', serif;
font-family: 'Noto Sans Mono', monospace;
font-family: 'Work Sans', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        color: whitesmoke;
    }

body{
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.436);
}
header {
        
        width: 100%;
        position: fixed;
        z-index: 99999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 80px;
    }
    .logo {
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 1.8em;
    }
    
    .nav a {
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: bold;
        padding-left: 30px;
    }
    .nav a:hover {
        color: #4f0547;
    }
    
section {
        padding: 10px 20px;
        background-image: url(back.jpg);
        background-size: cover;
    }
    
    .main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-color: #080808;
        
    }
.main h1  {
        color: white;
        font-size: 1.8em;
        font-weight: 900;
        letter-spacing: 5px;
    }
    
    .main h1 span {
        color: #b60bb6ca;
        font-weight: 900;
        font-size: 3.3em;
        display: inline-block;
        margin-top: 10px;
        letter-spacing: 5px;
    }
    .bt {
        color: white;
        background-color: #1c5fa3;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 1.1em;
        font-weight: 600;
        display: inline-block;
        box-shadow: 5px 5px 5px white;
        border: 2px solid white;
        border-radius: 15px;
        text-align: center;
        padding: 0.9375em 2.1875em;
        margin-bottom: 40px;
        transition: 0.8s ease;
    }
    
    .bt:hover {
        background-color:#b60bb6ca;
        transform: scale(1.2);
    }
    
    .social a {
        color: white;
        font-size: 1.7em;
        padding-right: 40px;
    }
    .postion{
        margin-top: -5%;
        margin-left: 5%;
    }
   @media(max-width:1023px) {
        header {
            padding: 10px 20px;
        }
        .nav {
            padding: 10px;
        }
        .title {
            font-size: 1.8em;
        }
        section {
            font-size: 1em;
            padding: 5px;
        }
        .main h3 {
            font-size: 1.6 em;
        }
        .contant .cardposation {
            flex-direction: column;
            align-items: center;
        }
        .cardposation {
            flex-direction: column;
            align-items: center;
        }
        .main img {
            width: 40%;
            min-height: 15vh;
            box-shadow: 3px 3px 3px #1c5fa3;
            border: 3px solid #1c5fa3;
            border-radius: 10px;
        }
        .po{
        
       margin-left: 30%;
    }
    }
    
    @media(max-width:641px) {
        body {
            font-size: 12px;
        }
        .postion{
            margin-top: -40%;
            padding-bottom: -70px;
        }
        .main {
            font-size: 0.8em;
        }
        .main h3 {
            font-size: 1.4em;
        }
        header {
            padding: 5 px;
        }
        section {
            padding: 1 px;
            font-size: 0.8em;
            padding-bottom: -70px;
           
        }
        .main {
            padding: 3 px;
        }
        .po{
        
       margin-left: 30%;
    }
    }
    
    @media(max-width:300px) {
        body {
            font-size: 10px;
        }
    }
    .title {
        display: flex;
        justify-content: center;
        color:#b60bb6ca;
        font-size: 2.2em;
        font-weight: 800;
        margin-bottom: 30px;
        overflow: hidden;
        border: 0cm;
    }
    
    .contant {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }
    

    .card {
        background-color: #292525;
        width: 15em;
        box-shadow: 0 5px 25px rgba(81, 91, 224, 15%);
        padding: 25px;
        margin: 15px;
        transition: 0.8s ease;
        justify-content: space space-evenly;
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    .cardposation{
        display: flex;
        justify-content: center;
        padding-bottom: 35px;
    }
    
    
    
    .icon {
        color: #b60bb6ca;
        font-size: 5em;
        text-align: center;
    }
    
    .info {
        color: #b60bb6ca;
        font-size: 1.3em;
        margin: 10px;
        font-weight: 700;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    
    .projects .contant {
        margin-top: 30px;justify-content: space-evenly;

    }
    .po{
        display: flex;
        justify-content: center;
       margin-left: 42%;
        color: white;
        background-color: #1c5fa3;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 1.2em;
        font-weight: 700;
        display: inline-block;
        box-shadow: 7px 7px 7px white;
        border: 2px solid white;
        border-radius: 15px;
        text-align: center;
        padding: 0.9375em 2.1875em;
        margin-bottom: 40px;
        transition: 0.8s ease;
    }
    .po:hover {
        background-color:#b60bb6ca;
        transform: scale(1.2);
    }

    
    .project-card {
        
        border: 3px solid rgb(181, 32, 132);
        min-height: 10em;
        width: 15em;
        transition: 0.8s ease;
        overflow: hidden;
        border-radius: 10px;
        margin: 20px;
         justify-content: space-between;
    }
    
    .project-card:hover {
        transform: scale(1.1);
    }
    
    .project-img img {
        width: 100%;
    }
    
    .project-card:hover .project-img {
        opacity: 0.9;
    }
    
    .project-info {
        padding: 1em;
    }
    
    .cat {
        font-size: 0.8 em;
    }
    
    .project-title {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10px;
    }
    
    .more {
        color: #b60bb6ca;
        text-decoration: none;
    }
    
    .more:hover {
        color: #65191f;
    }
    